# Nhost Project Configuration
NHOST_SUBDOMAIN=mbknwfytawrylgsgbfxw
NHOST_REGION=ap-south-1
NHOST_GRAPHQL_URL=https://mbknwfytawrylgsgbfxw.hasura.ap-south-1.nhost.run/v1/graphql
NHOST_ADMIN_SECRET=


GEMINI_API_KEY=
GEMINI_MODEL=gemini-3.6-flash

WEBHOOK_SECRET=
